<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Found Items</title>
    <script src="https://kit.fontawesome.com/1b58b1cd02.js" crossorigin="anonymous"></script>
    <style>
        #homeIcon:hover{
            opacity: 0.6;
        }

        #foundCard:hover{
            opacity: 0.6;
        }
    </style>
</head>
<body>
    {% include 'home/includes/navbar.html' %}

    <div style="display: flex; justify-content: center;">
        <h2 style="padding: 20px;">Found Items</h2>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; margin-right: 10vw; margin-left: 10vw;">
        {% for item in found_item_list %}
            <a style="text-decoration: none; color: black;" href="{% url 'home:found-detail' pk=item.pk %}">
            <div id="foundCard" class="card" style="margin: 10px">
                <div class="card-body">
                    <h5 class="card-title">{{ item.category }}</h5>
                    {% if item.hub %}
                        <h6 class="card-subtitle mb-2">Hub: {{ item.hub.name }}</h6>
                    {% endif %}
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.found_date }}</h6>
                    <p class="card-text">{{ item.item_description }}</p>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
</body>