<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lost Items</title>
    <script src="https://kit.fontawesome.com/1b58b1cd02.js" crossorigin="anonymous"></script>
    <style>
        #homeIcon:hover{
            opacity: 0.6;
        }

        #lostCard:hover{
            opacity: 0.6;
        }
    </style>
</head>
<body>
    {% include 'home/includes/navbar.html' %}

    <div style="display: flex; justify-content: center;">
        <h2 style="padding: 20px;">Lost Items</h2>
    </div>

    <div style="display: flex; flex-direction: column; justify-content: center; margin-right: 10vw; margin-left: 10vw;">
        {% for item in lost_item_list %}
            <a id="lostCard" style="text-decoration: none; color: black;" href="{% url 'home:lost-detail' pk=item.pk %}">
            <div class="lostCard card" style="margin: 10px; padding-right: 1vw; padding-left: 1vw;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.category }}</h5>
                    <h6 style="float: right"> Reward: ${{item.reward}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item.sub_date }}</h6>
                    <p class="card-text">{{ item.description }}</p>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
</body>