<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Map and Details</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChJpbZx9oUQW9icVu5a4vespboJ_UwGxo"></script>
    <script src="https://kit.fontawesome.com/1b58b1cd02.js" crossorigin="anonymous"></script>
    <style>
        /* Set the map container to fill the entire viewport */
        #map {
            width: 100%;
            height: 75vh; /* 100% of the viewport height */
        }

        #homeIcon:hover {
            opacity: 0.6;
        }
    </style>
</head>
<body>
    {% include 'home/includes/navbar.html' %}


    <div style="display: flex; justify-content: space-evenly; margin-top: 25px">
        <div style="width: 50%; height: 50vh">
            <h5> Last known location: </h5>
            <div id="map"></div>
        </div>
        <div style="display: flex; flex-direction: column; width: 40vw">
            <div style="border-style: solid; border-width: thin; border-radius: 8px; padding: 15px; margin-top: 30px; ">
                <h3 class="heading">{{ lost_item.category }}</h3>
                <p> Lost by {{lost_item.user.username}} on {{ lost_item.sub_date }}</p>
                <p><span class="text-muted">Description:</span> {{ lost_item.description }}</p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <button type="button" style="width: 40vw; margin: 10px" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Remove Posting
                </button>
            </div>
        </div>
        <!-- source: https://getbootstrap.com/docs/4.1/components/modal/-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Once a lost item is removed it cannot be recovered.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form method="post">
                    {% csrf_token %}
                    <button id="remove_button" class="btn btn-danger" type="submit" name="delete">
                        Remove Anyway
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>

    {% if not owned_by_you %}
    <!-- Only can remove item if you were the one who posted it -->
        <script>
            document.getElementById('remove_button').style.display = 'none';
        </script>
    {% endif %}

    <script>
        var map;
        var marker;
        var latitude = document.getElementById('latitude')
        var longitude = document.getElementById('longitude')
        var itemPos = { lat: {{ lost_item.location.latitude }}, lng: {{ lost_item.location.longitude }} };


        function initMap() {
            var mapOptions = {
                zoom: 17,
                center: itemPos, // Replace with your default map center
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);



            // Function to place a marker at the clicked location
            function placeMarker(location) {
                var newMarker = new google.maps.Marker({
                    position: location,
                    map: map,
                    title: 'Custom Pin'
                });

                latitude.value = newMarker.getPosition().lat()
                longitude.value = newMarker.getPosition().lng()

                if (marker) {
                    marker.setMap(null)
                }
                
                marker = newMarker
            }

            placeMarker(itemPos)

        }

        google.maps.event.addDomListener(window, 'load', initMap);

        
    </script>
</body>
</html>
